.about {

  &__title {
    margin: 0px;
    margin-bottom: 30px;
    font-size: $font-size--sl;
    line-height: $font-size--sl + 5;
    font-weight: bold;
    color: $color-black;
  }

  &__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  &__item {
    font-size: $font-size--middle;
    line-height: $font-size--middle + 3;
    font-weight: bold;
    color: $color-black;
  }
}

.about {
  margin-bottom: 58px;
}
.about__inner {
  width: 260px;
  margin: 0 auto;
}
.about__list {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.about__item {
  width: 100%;
}

@media (min-width: $screen-md) {

  .about {

    &__inner {
      width: 668px;
    }

    &__list {
      width: auto;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
    }

    &__item {
      width: 334px;
      font-size: $font-size + 5;
      line-height: $font-size + 7;
      font-weight: bold;
    }
  }
}

@media (min-width: $screen-xl) {

  .about {

    &__inner {
      width: 1050px;
    }

    &__list {
      width: 700px;
      margin-left: 175px;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
    }

    &__item {
      width: 350px;
    }
  }
}
