.about {
  margin-bottom: 58px;

  &__title {
    margin: 0px;
    margin-bottom: 30px;
    font-size: $font-size--sl;
    line-height: $font-size--sl + 5;
    font-weight: bold;
    color: $color-black;
  }

  &__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  &__item {
    font-size: $font-size--middle;
    line-height: $font-size--middle + 3;
    font-weight: bold;
    color: $color-black;
    margin-bottom: 32px;
  }

  &__item:nth-child(6) {
    margin-bottom: 0px;
  }

  &__inner {
    width: 260px;
    margin: 0 auto;
  }

  &__list {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__flower {
    padding-bottom: 20px;
    fill: $text-aqua;
  }

  &__money {
    padding-bottom: 28px;
    fill: $text-aqua;
  }

  &__heart {
    padding-bottom: 24px;
    fill: $text-aqua;
  }

  &__ball {
    padding-bottom: 20px;
    fill: $text-aqua;
  }

  &__rocket {
    padding-bottom: 28px;
    fill: $text-aqua;
  }

  &__gift {
    padding-bottom: 22px;
    fill: $text-aqua;
  }
}

@media (min-width: $screen-md) {

  .about {
    margin-bottom: 80px;

    &__inner {
      width: 668px;
    }

    &__title {
      margin: 0px;
      padding-bottom: 41px;
      font-size: $font-size--md + 16;
      line-height: $font-size--md + 23;
    }

    &__list {
      width: auto;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
    }

    &__item {
      width: 334px;
      margin-bottom: 58px;
      font-size: $font-size + 5;
      line-height: $font-size + 7;
      font-weight: bold;
    }

    &__item:nth-child(3) {
      margin: 0px;
    }

    &__item--love {
      order: 2;
    }

    &__ball {
      margin-left: 4px;
      margin-top: 9px;
      padding-bottom: 17px;
    }

    &__item--homeland {
      order: 4;
    }

    &__item--package {
      order: 6;
    }

    &__gift {
      margin-left: 3px;
    }

    &__item--ecological {
      order: 1;
    }

    &__flower {
      margin-left: 10px;
      margin-top: 5px;
      padding-bottom: 18px;
    }

    &__item--price {
      order: 3;
    }

    &__money {
      margin-left: 4px;
      padding-bottom: 27px;
    }

    &__item--likes {
      order: 5;
    }

    &__heart {
      margin-left: 10px;
    }

  }
}

@media (min-width: $screen-xl) {

  .about {
    margin-bottom: 90px;

    &__inner {
      width: 1050px;
      margin: 0 auto;
    }

    &__title {
      margin-left: 170px;
      font-size: $font-size--md + 26;
      line-height: $font-size--md + 30;
    }

    &__list {
      width: 700px;
      margin-left: 175px;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
    }

    &__item {
      width: 350px;
    }
  }
}
