.catalog {
  width: auto;
  margin: 0 auto;

  &__title {
    margin: 0px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: $font-size--md;
    line-height: $font-size--md + 3;
    font-weight: bold;
    color: $color-black;
  }

  &__title {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 73px;
    background-color: $bg-color;
  }

  &__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

@media (min-width: $screen-md) {

  .catalog {

    &__title {
      margin-bottom: 80px;
      padding-top: 102px;
      padding-bottom: 75px;
      font-size: $font-size--md + 16;
      line-height: $font-size--md + 23;
    }

    &__list {
      width: 668px;
      margin: 0 auto;
      padding: 0px;
    }
  }
}

@media (min-width: $screen-xl) {

  .catalog {
    margin: 0 auto;

    &__title {
      margin-bottom: 130px;
      padding-top: 104px;
      padding-bottom: 98px;
      font-size: $font-size--md + 26;
      line-height: $font-size--md + 30;
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 1050px;
      margin: 0 auto;
    }
  }
}
