.catalog {
  width: auto;
  margin: 0 auto;

  &__title {
    margin: 0px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: $font-size--md;
    line-height: $font-size--md + 3;
    font-weight: bold;
    color: $color-black;
  }

  &__title {
    text-align: center;
    padding-top: 71px;
    padding-bottom: 75px;
    background-color: $bg-color;
  }

  &__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

@media (min-width: $screen-md) {

  .catalog {

    &__title {
      position: relative;
      margin-bottom: 78px;
      padding-top: 96px;
      padding-bottom: 82px;
      font-size: $font-size--md + 16;
      line-height: $font-size--md + 23;
    }

    &__title::before {
      position: absolute;
      content: "";
      left: 0px;
      bottom: -1px;
      width: 768px;
      height: 14px;
      background-image: url(../img/bg-zigzag-fill.svg);
      background-repeat: repeat-x;
      background-size: 758px 24px;
    }

    &__list {
      width: 668px;
      margin: 0 auto;
      padding: 0px;
    }
  }
}

@media (min-width: $screen-xl) {

  .catalog {
    margin: 0 auto;

    &__title {
      margin-bottom: 123px;
      padding-top: 93px;
      padding-bottom: 109px;
      font-size: $font-size--md + 26;
      line-height: $font-size--md + 30;

      &::before {
        position: absolute;
        content: "";
        left: 0px;
        width: 100%;
        height: 24px;
        background-image: url(../img/bg-zigzag-fill.svg);
        background-repeat: repeat-x;
        background-size: 1140px 34px;
      }
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 1050px;
      margin: 0 auto;
    }
  }
}
