.field-checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__name {
    font-size: $font-size--middle;
    line-height: $font-size--middle + 1;
    font-weight: bold;
    color: $color-black;
  }
}

@media (min-width: $screen-md) {

  .field-checkbox {
    width: 501px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;

    &__input {
      margin-right: 28px;
    }

    &__name {
      width: 250px;
    }
  }
}

@media (min-width: $screen-xl) {

  .field-checkbox {
    width: 770px;
  }
}
