.field-text {
  margin-bottom: 34px;

  &__name {
    font-size: $font-size--middle;
    line-height: $font-size--middle + 1;
    font-weight: bold;
    color: $color-black;
  }

  &__list:nth-child(2),
  &__list:nth-child(3) {
    margin-top: 24px;
  }

  &__title {
    font-size: $font-size--middle;
    line-height: $font-size--middle - 1;
    font-weight: bold;
    color: $text-aqua;
    text-transform: uppercase;
  }

  &__item {
    padding-top: 22px;
    padding-bottom: 15px;
    border: none;
    border-bottom: 2px solid #000000;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__item::placeholder {
    font-size: $font-size--middle;
    line-height: $font-size--middle + 1;
  }

  &__title::before {
    position: absolute;
    content: "";
    right: 0px;
    top: 7px;
    height: 1px;
    width: 198px;
    background-color: $text-aqua;
  }

  &__phone {
    display: none;
  }

  &__mail--item {
    display: none;
  }

  &__input {
    padding-top: 28px;
    padding-bottom: 20px;
    border: none;
    border-bottom: 2px solid $color-black;
  }

  &--textarea {
    display: block;
    width: 260px;
    border-width: 2px;
    border: 2px solid $color-black;
  }
}

@media (min-width: $screen-md) {

  .field-text {
    width: 500px;
    margin: 0px;
    margin-bottom: 50px;
    padding-top: 66px;

    &__name {
      margin-right: 26px;
      font-size: $font-size--h4;
    }

    &__title::before {
      display:none;
    }

    &__item {
      width: 100%;
      padding: 0px;
      padding-top: 4px;
      padding-bottom: 14px;
    }

    &__list:nth-child(2),
    &__list:nth-child(3) {
      margin-top: 40px;
    }

    &__item::placeholder {
      padding-left: 17px;
      font-size: $font-size--h4;
      letter-spacing: 0.025em;
    }

    &__input::placeholder {
      font-size: $font-size--h4;
      line-height: $font-size--h4 - 1;
      letter-spacing: 0.02em;
    }

    &__list {
      display: flex;
      flex-direction: row;
    }

    &--block {
      position: relative;
      width: 668px;
      margin: 0px;
      padding-bottom: 52px;
    }

    &__phone {
      display: block;
      position: absolute;
      right: 25px;
      bottom: 17px;
      opacity: 0.2;

      input:hover ~ & {
        opacity: 1;
        fill: $text-aqua;
      }
    }

    &--desr {
      width: 100%;
      padding: 0px;
      margin-bottom: 52px;
    }

    &__title--block {
      padding: 0px;
      padding-top: 17px;
    }

    &__mail {
      display: block;
      position: absolute;
      right: 22px;
      bottom: 7px;
      opacity: 0.2;
    }

    &__title {
      width: 167px;
    }

    &__input {
      flex-grow: 1;
      padding: 0px;
      padding-left: 16px;
      padding-top: 4px;
      padding-bottom: 13px;
      background-color: #f1f1f1;
    }

    &__list--textarea {
      padding-top: 50px;
    }

    &__list--textarea .field-text__input {
      min-height: 123px;
      border: 2px solid $color-black;
      padding: 0px;
      padding-top: 15px;
      padding-left: 15px;
      font-size: $font-size--h4;
      line-height: $font-size--h4 - 1;
      background-color: #ffffff;
    }
  }
}

@media (min-width: $screen-xl) {

  .field-text {
    width: 700px;
    margin-bottom: 52;

    &__title {
      width: 175px;
      text-align: center;
    }

    &--block {
      width: 875px;
      margin-bottom: 0px;
      padding-top: 68px;
    }

    &__list--textarea {
      width: 875px;
    }

    &--desr {
      margin-bottom: 50px;
    }

    &__phone {
      right: 6px;
    }

    &__mail--item {
      right: 2px;
    }
  }
}
