.field-checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 34px;

  &__name {
    position: relative;
    padding-left: 62px;
    padding-top: 12px;
    padding-bottom: 10px;
    margin-bottom: 22px;
    font-size: $font-size--middle;
    line-height: $font-size--middle + 1;
    font-weight: bold;
    color: $color-black;
  }

  &__name:last-child {
    margin: 0px;
  }

  &__name::before {
    position: absolute;
    content: "";
    width: 37px;
    height: 37px;
    left: 0;
    top: 0;
    border: 2px solid $text-dark;
  }

  &__name::after {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 37px;
    height: 37px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: calc(70%);
  }

  &__input[type="checkbox"] {
    display: none;
  }
}

@media (min-width: $screen-md) {

  .field-checkbox {
    width: 501px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;

    &__input {
      margin-right: 28px;
    }

    &__name {
      width: 168.5px;
      margin-bottom: 25px;
      padding-top: 20px;
      padding-bottom: 16px;
      padding-left: 82px;
    }

    &__name::before {
      position: absolute;
      content: "";
      width: 52px;
      height: 52px;
      left: 0;
      top: 0;
      border: 2px solid $text-dark;
    }

    &__name::after {
      position: absolute;
      content: "";
      left: 15px;
      top: 20px;
      width: 37px;
      height: 37px;
      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      background-size: calc(70%);
    }
  }
}

@media (min-width: $screen-xl) {

  .field-checkbox {
    width: 770px;
  }
}
