.flashcard {

  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  &__title {
    margin: 0px;
    margin-bottom: 22px;
    padding-top: 31px;
    padding-left: 28px;
    font-size: $font-size--middle;
    line-height: $font-size--middle + 7;
    font-weight: bold;
    color: $color-black;
  }

  &__image {
    width: 260px;
    height: 195px;
  }

  &__link {
    display: flex;
    text-decoration: none;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #ededed;
  }
  &__text {
    margin-bottom: 51px;
    padding-left: 28px;
    font-size: $font-size--h5;
    line-height: $font-size--h5 + 17;
  }

  &__price {
    margin-bottom: 32px;
    padding-left: 28px;
    line-height: $font-size + 9;
    font-weight: bold;
    color: $color-black;
  }
}

@media (min-width: $screen-md) {

  .flashcard {

    display: flex;
    flex-direction: row;
    margin-bottom: 54px;

    &__image {
      width: 334px;
    }

    &__inner {
      width: 334px;
    }
  }
}

@media (min-width: $screen-xl) {

  .flashcard {

    display: flex;
    flex-direction: column;
    width: 315px;
    margin-bottom: 57px;

    &__inner {
      width: 313px;
    }
  }
}

