.flashcard {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  &__title {
    margin: 0px;
    margin-bottom: 16px;
    padding-top: 27px;
    font-size: $font-size--middle;
    line-height: $font-size--middle + 7;
    font-weight: bold;
    color: $color-black;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__image {
    width: 260px;
    height: 195px;
  }

  &__link {
    height: 195px;
    text-decoration: none;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 177px;
    padding-left: 28px;
    border: 1px solid #ededed;
  }
  &__text {
    padding-bottom: 5px;
    font-size: $font-size--h5;
    line-height: $font-size--h5 + 17;
  }

  &__price {
    line-height: $font-size + 9;
    font-weight: bold;
    color: $color-black;
  }

  &__pucture {
    width: 20px;
    height: 19px;
  }

  &__button {
    padding-right: 33px;
  }

  &__footer {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: auto;
    margin-bottom: 32px;
  }

  &__price {
    margin-right: auto;
  }

  &__cart {
    opacity: 0.2;

    &:hover {
      opacity: 1;
      fill: $text-aqua;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $screen-md) {

  .flashcard {
    display: flex;
    flex-direction: row;
    margin-bottom: 54px;

    &:hover {
      box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
      transition: all 0.2s;
    }

    &:active {
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
      transition: all 0.2s;
    }

    &__image {
      width: 334px;
      height: 334px;
    }

    &__inner {
      flex-grow: 1;
      padding-left: 25px;
      padding-right: 25px;
    }

    &__link {
      flex-shrink: 0;
      min-height: 334px;
    }

    &__title {
      padding: 0px;
      padding-top: 24px;
      margin-bottom: 6px;
      font-size: $font-size--h4 + 1;
      letter-spacing: 0.01em;
    }

    &__text {
      font-size: $font-size;
    }

    &__price {
      margin-top: auto;
      padding-top: 22px;
      padding-left: 6px;
      font-size: $font-size--middle;
    }

    &__button {
      position: absolute;
      right: 5px;
      top: 22px;
      padding: 0px;
      color: #e8e8e8;
    }

    &__cart {
      width: 21px;
      height: 18px;
      fill: #e8e8e8;
    }

    &__footer {
      margin-bottom: 27px;
      border-top: 1px solid #ececec;
    }
  }
}

@media (min-width: $screen-xl) {

  .flashcard {
    display: flex;
    flex-direction: column;
    width: 317px;
    margin: 0px;
    margin-bottom: 57px;

    &__image {
    width: 317px;
    height: 462px;
    }

    &__inner {
    min-height: 195px;
    }

    &__link {
      height: 462px;
    }
  }
}
