.form {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 55px;
  padding: 0 30px;

  &__legend {
    margin: 0px;
    padding: 0px;
    padding-bottom: 26px;
    font-size: $font-size--middle;
    line-height: $font-size--middle - 1;
    font-weight: bold;
    color: $text-aqua;
    text-transform: uppercase;
  }

  &__fieldset {
    border: none;
    margin: 0px;
    padding: 0px;
  }

  &__legend {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__legend::before {
    position: absolute;
    content: "";
    right: 0px;
    top: 7px;
    height: 1px;
    width: 198px;
    background-color: $text-aqua;
  }

  &__completion {
    font-size: $font-size--h3;
    line-height: $font-size--h3 + 2;
  }

  &__submit {
    display: block;
    width: 258px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: $font-size--middle;
    line-height: $font-size--middle - 1;
    font-weight: bold;
    color: $color-black;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid $color-black;
  }
}

@media (min-width: $screen-md) {

  .form {
    width: 668px;
    margin: 0 auto;
    padding: 0px;

    &__inner {
      display: flex;
      flex-direction: row;
    }

    &__legend {
      width: 167px;
      align-items: flex-start;
      padding-top: 18px;
    }

    &__legend::before {
      display: none;
    }

    &__inner--item {
      display: flex;
      flex-direction: column;
    }

    &__wrapper {
      display: flex;
      margin-top: 54px;
      margin-bottom: 52px;
    }

    &__completion {
      order: 2;
      margin-left: auto;
      align-self: center;
    }

    &__submit {
      margin: 0px;
    }
  }
}

@media (min-width: $screen-xl) {

  .form {
    width: 1050px;
    margin: 0 auto;
    padding: 0px;

    &__legend {
      width: 175px;
      text-align: center;
    }

    &__wrapper {
      width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
