.form {
  margin-bottom: 55px;

  &__legend {
    margin: 0px;
    padding: 0px;
    padding-bottom: 26px;
    font-size: $font-size--middle;
    line-height: $font-size--middle - 1;
    font-weight: bold;
    color: $text-aqua;
    text-transform: uppercase;
  }

  &__fieldset {
    border: none;
    margin: 0px;
    padding: 0px;
  }

  &__legend {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 260px;
    margin: 0 auto;
  }

  &__legend::before {
    position: absolute;
    content: "";
    right: 0px;
    top: 7px;
    height: 1px;
    width: 198px;
    background-color: $text-aqua;
  }

  &__completion {
    font-size: $font-size--h3;
    line-height: $font-size--h3 + 2;
  }

  &__wrapper {
    width: 260px;
    margin: 0 auto;
  }

  &__submit {
    display: block;
    width: 258px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: $font-size--middle;
    line-height: $font-size--middle - 1;
    font-weight: bold;
    color: $color-black;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid $color-black;
  }
}

@media (min-width: $screen-md) {

  .form {
    margin: 0px;
    padding: 0px;

    &__inner {
      display: flex;
      flex-direction: row;
      width: 668px;
      margin: 0 auto;
    }

    &__legend {
      width: 167px;
      align-items: flex-start;
      padding-top: 18px;
    }

    &__fieldset--header {
      background-color: #f1f1f1;
    }

    &__legend--color {
      padding: 0px;
      padding-top: 65px;
    }

    &__legend::before {
      display: none;
    }

    &__inner--item {
      display: flex;
      flex-direction: column;
    }

    &__wrapper {
      display: flex;
      width: 668px;
      margin: 0 auto;
      margin-bottom: 52px;
    }

    &__completion {
      order: 2;
      margin-left: auto;
      padding-top: 5px;
      font-size: $font-size--middle;
      line-height: $font-size--middle + 13;
    }

    &__submit {
      width: 227px;
      padding-top: 16px;
      padding-bottom: 16px;
      margin: 0px;
    }
  }
}

@media (min-width: $screen-xl) {

  .form {
    margin: 0px;
    padding: 0px;

    &__inner {
      width: 1050px;
      margin: 0 auto;
    }

    &__legend {
      width: 110px;
      padding-left: 65px;
    }

    &__wrapper {
      width: 700px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 48px;
    }

    &__completion {
      padding-top: 2px;
    }
  }
}
