.main-nav {

  &__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  &__list a {
    font-size: $font-size--middle;
    color: $color-black;
    font-weight: bold;
    line-height: $font-size--middle + 7;
    text-decoration: none;
  }
}
.main-nav {
  position: relative;
  margin: 0 auto;
}
.main-nav__logo {
  display: block;
  text-align: center;
  padding: 22px 0px;
}
.main-nav__toggle {
  position: absolute;
  right: -45px;
  top: 32px;
  width: 21px;
  height: 21px;
  margin-left: auto;
  font-size: 0px;
}

@media (min-width: $screen-md) {

  .main-nav {
    display: flex;
    width: 688px;
    margin: 0px;
  }

}
