.main-nav {
  position: relative;
  margin: 0 auto;

  &__list,
  &__user {

    a {
      display: block;
      padding-top: 28px;
      padding-bottom: 28px;
      padding-left: 76px;
      font-size: $font-size--middle;
      color: $color-black;
      font-weight: bold;
      line-height: $font-size--middle + 7;
      text-decoration: none;
    }
  }

  &__list,
  &__user {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  &__logo {
    display: block;
    text-align: center;
    padding: 22px 0px;
    border: 1px solid #ececec;
  }

  &__icon-cart {
    fill:#231F20;
  }

  &__toggle {
    position: absolute;
    right: 30px;
    top: 32px;
    width: 21px;
    height: 21px;
    margin-left: auto;
    font-size: 0px;
  }

  &__list-hit {
    display: none;
  }

  &__delivery {
    display: none;
  }

  &__item {
    border-bottom: 1px solid #ececec;
  }
}

@media (min-width: $screen-md) {

  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
    height: 130px;
    margin: 0px;

    &__logo {
      order: 1;
      flex-grow: 0;
      margin-left: 0px;
      border: none;
    }

    &__toggle {
      display: none;
    }

    &__list {
      order: 3;
      display: inline-flex;
      width: 310px;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0px;
      padding: 0px;
      padding-top: 15px;
      padding-left: 5px;
      list-style: none;
      z-index: 10;
    }

    &__item {
      border: none;
    }

    &__list,
    &__user {

      a {
        padding: 0px;
      }
    }

    &__list {
      font-size: $font-size;
      line-height: $font-size + 9;
    }

    &__user {
      margin: 0px;
      padding: 0px;
      padding-top: 34px;
      padding-bottom: 35px;
      list-style: none;
      display: inline-flex;
      order: 2;
      flex-grow: 0px;
      justify-content: space-between;
      flex-basis: 334px;
    }

    &__list-hit {
      display: none;
    }

    &__delivery{
      display: flex;
      order: 4;
      margin: 0px;
      padding: 0px;
      padding-top: 15px;
      font-size: $font-size;
      line-height: $font-size + 9;
      z-index: 11;
    }
  }
}

@media (min-width: $screen-xl) {

  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1050px;

    &__logo {
      order: 2;
      width: 323px;
      padding: 0px;
    }

    &__logo-image {
      width: 149px;
      height: 72px;
      margin-top: 10px;
      margin-right: 40px;
    }

    &__list {
      order: 1;
      width: 377px;
      padding: 0px;
      padding-top: 34px;
      font-size: $font-size--middle;
      line-height: $font-size--middle + 7;
    }

    &__user {
      order: 3;
      width: 350px;
    }

    &__list-hit {
      display: inline-flex;
      justify-content: space-between;
      order: 4;
      width: 315px;
      margin: 0px;
      padding: 0px;
      padding-top: 12px;
      list-style: none;
      z-index: 12;
    }

    &__list-hit {

      a {
        padding-top: 15px;
        font-size: $font-size;
        line-height: $font-size + 9;
        font-weight: bold;
        color: $color-black;
        text-decoration: none;
      }
    }

    &__delivery {
      order: 5;
    }
  }
}
