.order {

  &__title {
    margin: 0px;
    margin-bottom: 30px;
    font-size: $font-size--md;
    line-height: $font-size--md + 3;
    font-weight: bold;
    color: $color-black;
  }

  &__title {
    min-height: 177px;
    background-color: $bg-color;
  }

  &__definition {

    & p {
      margin: 0px;
      font-size: $font-size--middle;
      line-height: $font-size--middle + 7;
    }
  }
}
