.order {

  &__title {
  margin: 0px;
  margin-bottom: 30px;
  font-size: $font-size--md;
  line-height: 30px;
  font-weight: bold;
  color: $color-black;
  }

  &__title {
    min-height: 177px;
    background-color: rgb(241, 241, 241);
  }
}
.order__definition p {
  margin: 0px;
  font-size: $font-size--middle;
  line-height: 24px;
}
