.page-header {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}
.page-header__logo {
  padding: 22px 0px;
  padding-right: 116px;
}
@media (min-width: $screen-md) {

  .page-header {
    display: flex;
  }
}
@media (min-width: $screen-xl) {

  .page-header {
    order: 3;
  }
}
