.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 79px;
  padding: 0 30px;
  border-bottom: 1px solid #ececec;
}

@media (min-width: $screen-md) {
  .page-header {

    min-height: 89px;
    margin: 0px;
    padding: 0 50px;

    &__inner {
      position: absolute;
      height: 130px;
      display: flex;
      flex-basis: 668px;
    }
  }
}
