.page-footer {

  width: auto;
  margin: 0 auto;
  background-color: $bg-color;

  &__inner {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin: 0 auto;
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 22px;
    padding-bottom: 24px;
  }

  &__logo-image {
    display: none;
  }
}

@media (min-width: $screen-md) {

  .page-footer {

    width: auto;
    margin: 0 auto;

    &__inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 668px;
      mi: 42px;
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 46px;
    }

    &__logo-image {
      display: block;
    }

    &__logo {
      width: 167px;
      flex-grow: 0;
      margin-left: 0px;
      align-self: center;
    }

    &__copyright {
      width: 182px;
      padding: 0px;
      padding-top: 10px;
      margin-right: 0;
    }
  }
}

@media (min-width: $screen-xl) {

  .page-footer {

    width: 1250px;
    margin: 0 auto;

    &__inner {
      width: 1050px;
      margin: 0 auto;
    }

    &__logo {
      width: 350px;
      margin-left: 0px;
    }

    &__copyright {
      width: 350px;
      margin: 0px;
      flex-grow: 0;
    }

    &__copyright-text {
      margin-left: auto;
      margin-right: 30px;
    }
  }
}
