.page-footer {
  width: auto;
  margin: 0 auto;
  background-color: $bg-color;

  &__inner {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin: 0 auto;
    padding: 0 30px;
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    margin-right: 41px;
    margin-left: 38px;
    padding-top: 23px;
    padding-bottom: 26px;

    &:active {
      opacity: 0.3;
      transition: all 0.2s;
    }

    p {
      margin: 0px;
      font-size: $font-size--h4;
      line-height: $font-size--h4 - 1;
      font-weight: bold;
      padding-top: 4px;
    }
  }

  &__foto {
    fill: $text-aqua;
  }

  &__logo-image {
    display: none;
  }
}

@media (min-width: $screen-md) {

  .page-footer {
    width: auto;
    margin: 0 auto;

    &__inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 668px;
      mi: 42px;
      margin: 0 auto;
      padding-top: 45px;
      padding-bottom: 46px;
    }

    &__logo-image {
      width: 102px;
      display: block;
      padding-bottom: 5px;

    }

    &__logo {
      width: 218px;
      flex-grow: 0;
      margin-left: 0px;
      align-self: center;

      &:hover.logo-image {
        opacity: 1;
        color: $text-aqua;
      }
    }

    &__copyright {
      width: 182px;
      padding: 0px;
      padding-top: 10px;
      margin-right: 0;

      p {
        margin: 0px;
        padding-top: 8px;
        font-size: $font-size--middle + 2;
        line-height: $font-size--middle + 1;
        font-weight: bold;
        color: $color-black;
      }
    }

    &__foto {
      width: 27px;
      height: 34px;
      padding-top: 2px;
      fill: $text-aqua;
    }
  }
}

@media (min-width: $screen-xl) {

  .page-footer {
    margin: 0 auto;

    &__inner {
      width: 1050px;
      margin: 0 auto;
    }

    &__logo {
      width: 450px;
      margin-left: 0px;
    }

    &__copyright {
      width: 455px;
      margin: 0px;
      flex-grow: 0;

      p {
        margin-left: auto;
        margin-right: 29px;
        padding-top: 9px;
      }
    }
  }
}
