.product {

  &__title {
    margin: 0px;
    margin-bottom: 14px;
    font-size: $font-size--sl;
    line-height: $font-size--sl + 5;
    font-weight: bold;
    color: $color-black;
  }

  &__hit {
    margin: 0px;
    margin-bottom: 28px;
    font-size: $font-size--middle;
    line-height: $font-size--middle + 3;
    font-weight: bold;
    color: $text-aqua;
    text-transform: uppercase;
  }

  &__description {

    p {
      margin: 0px;
      margin-bottom: 28px;
      line-height: $font-size + 9;
    }
  }

  &__properties {
    width: 260px;
    margin-bottom: 28px;
    border-collapse: collapse;
  }

  &__properties {

    tr {
      height: 41px;
      border-bottom: 1px solid #ececec;
    }
  }

  &__property-name {
    padding-right: 32px;
    line-height: $font-size + 5;
    color: $text-dark;
  }

  &__property-value {
    line-height: $font-size + 5;
    color: $text-dark;
  }

  &__price {
    margin-top: 28px;
    margin-bottom: 25px;
    font-size: $font-size--middle;
    line-height: $font-size--middle + 7;
    font-weight: bold;
    color: $text-dark;
  }

  &__order {
    font-size: $font-size--middle;
    line-height: $font-size--middle + 3;
    font-weight: bold;
    color: $text-dark;
    text-transform: uppercase;
    text-decoration: none;
  }
}
.product {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 30px;
}
.product__item-buy {
  align-self: center;
}
.product__order {
  display: block;
}
@media (min-width: $screen-md) {

  .product {

    display: flex;
    align-items: start;
    margin: 0 auto;
    padding: 0 50px;

    &__text {
      width: auto;
      display: flex;
      margin: 0;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 668px;
      margin-bottom: 57px;
    }

    &__title {
      align-self: flex-end;
      margin: 0px;
      margin-right: auto;
      font-size: $font-size--sl + 16;
      line-height: $font-size--sl + 23;
      font-weight: bold;
    }

    &__hit {
      flex-basis: 75px;
      align-self: flex-end;
      margin: 0px;
      margin-right: 28px;
      text-align: center;
      font-size: $font-size--middle;
      line-height: $font-size--middle;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-right: 368px;
    }

    &__item-picture {
      position: absolute;
      top: 0px;
      right: 0px;
    }

    &__description {

      p {
        width: 300px;
        font-size: $font-size--middle;
        line-height: $font-size--middle + 13;
        margin: 0px;
        margin-bottom: 54px;
      }
    }

    &__properties {
      width: 292px;
      margin-bottom: 60px;
    }

    &__price {
      display: block;
      font-size: $font-size + 5;
      line-height: $font-size + 9;
      text-align: center;
      margin: 0px;
      margin-bottom: 29px;
    }

    &__order {
      display: block;
      width: 289px;
      padding-top: 14px;
      padding-bottom: 14px;
      text-align: center;
      border: 1px solid #000;
    }
  }
}

