.reviews {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-bottom: 85px;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: -62px;
    width: 100%;
    height: 19px;
    background-image: url(../img/bg-zigzag-line.svg);
    background-repeat: repeat-x;
    background-size: 314px 6px;
  }

  &__wrapper {
    width: 260px;
    margin: 0 auto;
    padding: 0 30px;
  }

  &__title {
    margin: 0px;
    margin-bottom: 22px;
    font-size: $font-size--sl;
    line-height: $font-size--sl + 5;
    font-weight: bold;
    color: $color-black;
  }

  &__item {
    margin: 0px;
  }

  &__item {

    p {
      margin: 0px;
      margin-bottom: 27px;
      line-height: $font-size + 15;
    }
  }

  &__name {
    font-size: $font-size--middle;
    font-weight: bold;
    color: $color-black;
    margin-bottom: 20px;
  }

  &__link {
    position: static;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: $font-size--h2;
    line-height: $font-size--h2 + 2;
    font-weight: bold;
    color: $text-dark;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #000000;
  }
}

@media (min-width: $screen-md) {

  .reviews {
    display: flex;
    position: relative;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px auto;
    padding-top: 80px;
    padding-bottom: 70px;
    padding-right: 50px;
    padding-left: 39px;
    margin-bottom: 108px;

    @media (min-resolution: 144dpi) {
      background-image: url("../img/review@2x.jpg 2x")
    }

    &::after {
      position: absolute;
      content: "";
      right: 0;
      bottom: -62px;
      width: 100%;
      height: 16px;
      background-image: url(../img/bg-zigzag-line.svg);
      background-repeat: repeat-x;
      background-size: 784px 16px;
    }

    &__wrapper {
      position: relative;
      width: 668px;
      margin: 0 auto;
      padding: 0px;
    }

    &__title {
      margin-bottom: 49px;
      font-size: $font-size--md + 16;
      line-height: $font-size--md + 23;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__item {

      p {
        width: 642px;
        margin-bottom: 55px;
        padding-left: 2px;
        font-size: $font-size--middle;
      }
    }

    &__name {
      margin-bottom: 1px;
    }

    &__link {
      position: absolute;
      display: block;
      right: -3px;
      top: 0px;
      width: 172px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: $font-size--middle;
      text-align: center;
      border: 2px solid #000000;
    }
  }
}

@media (min-width: $screen-xl) {

  .reviews {
    display: flex;
    position: relative;
    width: 1050px;
    margin: 0 auto;
    padding: 0px;
    padding-bottom: 98px;
    margin-bottom: 159px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px auto;

    @media (min-resolution: 144dpi) {
      background-image: url("../img/review@2x.jpg");
    }

    &::after {
      pposition: absolute;
      content: "";
      right: 0;
      bottom: -90px;
      width: 100%;
      height: 26px;
      background-image: url(../img/bg-zigzag-line.svg);
      background-repeat: repeat-x;
      background-size: 1081px 23px;
    }

    &__wrapper {
      position: relative;
      width: 1050px;
      margin: 0 auto;
    }

    &__title {
      margin-left: 170px;
      padding-top: 69px;
      font-size: $font-size--md + 26;
      line-height: $font-size--md + 30;
    }

    &__item {

      p {
        margin-left: 175px;
        margin-bottom: 37px;
        width: 770px;
        font-size: $font-size--middle;
        line-height: $font-size--middle + 13;
      }
    }

    &__name {
      margin-left: 175px;
    }

    &__nik-link {
      margin-left: 175px;
    }

    &__link {
      position: absolute;
      display: block;
      right: 0px;
      top: 78px;
      width: 170px;
      padding-top: 16px;
      padding-bottom: 15px;
      text-align: center;
      border: 2px solid #000000;
    }
  }
}
