.reviews {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-bottom: 95px;
  padding: 0 30px;

  &__title {
    margin: 0px;
    margin-bottom: 30px;
    font-size: $font-size--sl;
    line-height: $font-size--sl + 5;
    font-weight: bold;
    color: $color-black;
  }

  &__item {
    margin: 0px;
  }

  &__item {

    p {
      margin: 0px;
      margin-bottom: 35px;
      line-height: $font-size + 15;
    }
  }

  &__name {
    font-size: $font-size--middle;
    font-weight: bold;
    color: $color-black;
    margin-bottom: 20px;
  }

  &__link {
    position: static;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: $font-size--h2;
    line-height: $font-size--h2 + 2;
    font-weight: bold;
    color: $text-dark;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #000000;
  }
}

@media (min-width: $screen-md) {

  .reviews {
    display: flex;
    position: relative;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    padding-top: 75px;
    padding-bottom: 70px;
    padding-right: 50px;
    padding-left: 50px;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__item {

      p {
        width: 642px;
        margin-bottom: 70px;
      }
    }

    &__name {
      margin-bottom: 18px;
    }

    &__link {
      position: absolute;
      display: block;
      right: 51px;
      top: 55px;
      width: 176px;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
      border: 1px solid #000000;
    }
  }
}

@media (min-width: $screen-xl) {

  .reviews {
    display: flex;
    position: relative;
    width: 1050px;
    margin: 0 auto;
    padding: 0px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;

    &__title {
      margin-left: 175px;
      margin-bottom: 65px;
      padding-top: 78px;
      font-size: $font-size--md + 26;
      line-height: $font-size--md + 30;
    }

    &__item {

      p {
        margin-left: 175px;
        margin-bottom: 55px;
        width: 770px;
        font-size: $font-size--middle;
        line-height: $font-size--middle + 13;
      }
    }

    &__name {
      margin-left: 175px;
    }

    &__nik-link {
      margin-left: 175px;
    }

    &__link {
      position: absolute;
      display: block;
      right: 51px;
      top: 82px;
      width: 176px;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
      border: 1px solid #000000;
    }
  }
}
