.slider {

  &__nav {
    position: static;
    display: flex;
    margin-top: 36px;
    margin-bottom: 38px;
  }

  &__arrow {
    width: 130px;
    padding: 10px 0px;
    border: 1px solid #ececec;
    background-color: #ffffff;
  }
}

@media (min-width: $screen-md) {

  .slider {
    position: relative;

    &__nav {
      position: absolute;
      bottom: 12px;
      right: 0px;
      width: 155px;
      margin: 0px;
    }

    &__arrow {
      background-color: #ffffff;
      border: none;
      padding: 0px;
      margin: 0px;
    }

    &__arrow:nth-child(2) {
      margin-left: 33px;
      margin-right: 14px;
    }

    &__arrow:hover {
      opacity: 0.6;
    }

    &__arrow:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $screen-xl) {

  .slider {

    &__nav {
      width: 155px;
    }

    &__arrow:nth-child(2) {
      margin-right: 15px;
      margin-left: 35px;
    }
  }
}
