.social-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  padding-top: 24px;
  padding-bottom: 28px;
  border-bottom: 1px solid #ececec;
  list-style: none;
}

@media (min-width: $screen-md) {

  .social-list {
    display: flex;
    justify-content: space-between;
    width: 142px;
    padding: 0;
    padding-top: 12px;

    &__insta {
      padding-top: 5px;
    }

    &__twitter {
      padding-top: 5px;
    }
  }
}

@media (min-width: $screen-xl) {

  .social-list {
    width: 141px;

  }
}
