.video-production {
  width: 258px;
  border: 1px solid #ececec;
}
.video-production {
  &__title {
    margin: 0px;
    font-size: $font-size + 2;
    line-height: 24px;
    font-weight: bold;
    color: $color-black;
    text-align: center;
  }
  &__description p {
    margin: 0px;
    font-size: $font-size - 2;
    line-height: 24px;
  }
}
.video-production__link {
  font-size: $font-size + 2;
  line-height: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
}
